# annoying vim swap files
*.swp
*.kate-swp
# checked out repo of models
bioimageio-gh-pages/
# dir for test summaries
test_summaries/
# dir for testing the test_summaries
toy_test_summaries/
# dir for models
models/
models_downloaded/
# dir for tiff test images
numpy-tiff-deepimagej/

output.txt
# all zip files
*.zip
# uziped folder
bash_scripts/dependencies_2115/

.idea/

# paths to Models to test
# change a lot between computers (abs paths) and inputs (contents)
resources/models_to_test.txt
resources/models_to_test.sh
resources/test_the_models.sh
resources/rdfs_to_test.txt
resources/config.edn

# gh-pages branch
gh-pages-branch/
