# annoying vim swap files
*.swp
*.kate-swp
# checked out repo of models
bioimageio-gh-pages/
# dir for test summaries
test_summaries/
# dir for testing the test_summaries
toy_test_summaries/
# dir for models
models/
#
output.txt
# all zip files
*.zip
# uziped folder
bash_scripts/dependencies_2115/
